<h1>Check mon annonce baby</h1>
<div class="container">
  <table class="table table-striped">
    <% @listings.each do |listing| %>
      <tr>
        <td><strong><%= listing.title %>:</strong></td>
        <td>  <%= listing.message %> </td>
        <td>   <%= listing.price %> </td>
        <td>  <%= listing.city %> </td>
        <td>  <%= link_to image_tag(listing.photo), listing_path(listing) %> </td>
      <% end %>
    </tr>
  </table>
</div>